body{
    background: url(../images/background.jpg);
    background-attachment: fixed;
        background-position: center;
        background-size: cover;
        
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    padding:100px;
    margin:0; 
    font-family: 'Roboto Condensed', sans-serif;
     font-size: 100%;
    color:black;
    }  
.input1:hover{background-color:greenyellow;}


#btn{
    display: inline-block;
}