#divBannerFloatLeft{width: 120px; line-height:30px; position: fixed;overflow:hidden; left:0px !important;}
#divBannerFloatRight{width: 120px; line-height:30px; position: fixed;overflow:hidden;right:0px !important;}
#divBannerFloatLeft img,#divBannerFloatRight img{ width:120px}